
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-39.pyc
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/slides/.DS_Store
PDAI/slides/01introduction.aux
PDAI/slides/01introduction.log
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.synctex.gz
PDAI/slides/01introduction.toc
PDAI/slides/live.aux
PDAI/slides/references.aux
PDAI/.DS_Store
PDAI/extra_assignments/1.5. Input/print_ Apple sharing/main-Andrea’s MacBook Pro (2).py
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/slides/01introduction.log
PDAI/slides/01introduction.synctex.gz
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.log
PDAI/slides/01introduction.aux
PDAI/slides/live.aux
PDAI/slides/01introduction.toc
PDAI/slides/01introduction.synctex.gz
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/.DS_Store
.DS_Store
SISS/.DS_Store
.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/dpc-covid19-ita-andamento-nazionale.csv
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/jupyter/.DS_Store
SLLD/.DS_Store
SLLD/practicum/.DS_Store
SLLD/practicum/classification/Classification.pdf
SLLD/practicum/classification/classification.Rmd
SLLD/practicum/classification/TITANIC.xlsx
SLLD/practicum/classification/Titanic_data_description.docx
SLLD/practicum/clustering/Clustering.pdf
SLLD/practicum/clustering/Clustering.Rmd
SLLD/practicum/crossvalidation/crossvalidation.pdf
SLLD/practicum/crossvalidation/crossvalidation.Rmd
SLLD/practicum/PCA/PCA.pdf
SLLD/practicum/PCA/PCA.Rmd
SLLD/practicum/README.md
SLLD/practicum/resampling/Resampling.pdf
SLLD/practicum/resampling/resampling.Rmd
SLLD/practicum/ridge_lasso/.Rhistory
SLLD/practicum/ridge_lasso/03_14_notebook.pdf
SLLD/practicum/ridge_lasso/BODY_FAT.TXT
SLLD/practicum/ridge_lasso/ridge_lasso.pdf
SLLD/practicum/ridge_lasso/ridge_lasso.Rmd
SLLD/practicum/screening/screening.pdf
SLLD/practicum/screening/screening.Rmd
SLLD/practicum/smoothing/Smoothing.pdf
SLLD/practicum/smoothing/smoothing.Rmd
SLLD/practicum/subset/.Rhistory
SLLD/practicum/subset/BODY_FAT.TXT
SLLD/practicum/subset/subset.pdf
SLLD/practicum/subset/subset.Rmd
SLLD/practicum/Supervised dimensional reduction/supervised_dimensional_reduction.html
SLLD/practicum/Supervised dimensional reduction/supervised_dimensional_reduction.Rmd
SLLD/projects/README.md
SLLD/README.md
SLLD/reports/README.md
SLLD/slides/10_Supervised_Dim_Red_Outline.pdf
SLLD/slides/11_Feature_Screening_Outline.pdf
SLLD/slides/12_Subsampling_Partitioning_and_Rebalancing_Outline.pdf
SLLD/slides/1_Clustering_Outline.pdf
SLLD/slides/2_PCA_Outline.pdf
SLLD/slides/3_Classification_Outline.pdf
SLLD/slides/4_Smoothing_Outline.pdf
SLLD/slides/5_Cross_Validation_Outline.pdf
SLLD/slides/6_Resampling_Outline.pdf
SLLD/slides/7_Review_LM_GLM_Outline.pdf
SLLD/slides/8_Ridge_and_LASSO_Outline.pdf
SLLD/slides/9_Feature_Selection_Outline.pdf
SLLD/slides/README.md
SLLD/slides/Reducing_Selecting_Leveraging_Structure.pdf
SISS/slides/README.md
SISS/slides/3-HT.pdf
SISS/slides/2-PointEstimate-IC.pdf
SISS/slides/1_Statistics_introduction.pdf
SISS/README.md
SISS/data/WV6_Data_stata_vold.dta
SISS/data/README.md
SISS/data/crimedataset.pdf
SISS/data/crimedata.dta
SISS/codes/TLC.Rmd
SISS/codes/TLC.pdf
SISS/codes/README.md
SISS/codes/Lege-samples.pdf
SISS/codes/Lege samples.Rmd
SISS/codes/HT.Rmd
SISS/codes/HT.pdf
SISS/codes/CI.Rmd
SISS/codes/CI.pdf
SISS/codes/Approach_data.Rmd
SISS/codes/Approach_data.pdf
SISS/.DS_Store
PDAI/jupyter/jupyterNotebooks/otherpath/__pycache__/test_import_py_nested.cpython-39.pyc
PDAI/.DS_Store
.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/__pycache__/test_import_py.cpython-39.pyc
PDAI/jupyter/jupyterNotebooks/otherpath/.ipynb_checkpoints/test_import_py_nested-checkpoint.py
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/test_import_py-checkpoint.py
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/data-checkpoint.txt
PDAI/jupyter/jupyterNotebooks/data.txt
PDAI/jupyter/jupyterNotebooks/hello.txt
.DS_Store
SISS/codes/Linear_regression_example.pdf
SISS/codes/Linear_regression_example.Rmd
SISS/codes/Regression Validity.Rmd
SISS/codes/Regression-Validity.pdf
SISS/data/titanic.dta
SISS/data/urban.xlsx
SISS/slides/4-Regression.pdf
.DS_Store
PDAI/.DS_Store
.DS_Store
PDAI/.DS_Store
.DS_Store
PDAI/jupyter/jupyterNotebooks/covid_lastday.csv
PDAI/jupyter/jupyterNotebooks/covid_lastday_b.csv
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/my_scraped_stockprices-checkpoint.csv
PDAI/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_01Course_Introduction-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_01NumPy_Pandas-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled2-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/Untitled1.ipynb
PDAI/jupyter/jupyterNotebooks/Untitled2.ipynb
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/P2_NumPy_Pandas-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/covid_lastday.csv
PDAI/jupyter/jupyterNotebooks/covid_lastday_b.csv
PDAI/jupyter/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_more_than_10k-checkpoint.csv
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_more_than_25k-checkpoint.csv
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_01Titanic_EDA-checkpoint.ipynb
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_04BreastCancer_Preprocessing-checkpoint.ipynb
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/__pycache__/pdai_utils.cpython-39.pyc
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_05BreastCancer_Unsupervised-checkpoint.ipynb
PDAI/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_06BreastCancer_Supervised-checkpoint.ipynb
PDAI/.DS_Store
.DS_Store
PDAI/jupyter/jupyterNotebooks/plot_tree_validation.pdf
PDAI/jupyter/jupyterNotebooks/plot_tree.pdf
PDAI/.DS_Store
.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_08ProcessMining-checkpoint.ipynb
