
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
PDAI/jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-39.pyc
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/slides/.DS_Store
PDAI/slides/01introduction.aux
PDAI/slides/01introduction.log
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.synctex.gz
PDAI/slides/01introduction.toc
PDAI/slides/live.aux
PDAI/slides/references.aux
PDAI/.DS_Store
PDAI/extra_assignments/1.5. Input/print_ Apple sharing/main-Andrea’s MacBook Pro (2).py
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/slides/01introduction.log
PDAI/slides/01introduction.synctex.gz
PDAI/slides/01introduction.nav
PDAI/slides/01introduction.log
PDAI/slides/01introduction.aux
PDAI/slides/live.aux
PDAI/slides/01introduction.toc
PDAI/slides/01introduction.synctex.gz
.DS_Store
PDAI/.DS_Store
PDAI/jupyter/.DS_Store
PDAI/.DS_Store
.DS_Store
SISS/.DS_Store
.DS_Store
.DS_Store
PDAI/.DS_Store
